<div class="container main-content">
  <div class="card fade-in">
    <h2 class="card-title">Привет, <%= username %>!</h2>
    <p>Email: <%= email %></p>
  </div>

  <div class="card fade-in">
    <h3 class="card-title">Мои светодиодные ленты</h3>
    <% if (strips.length > 0) { %>
      <ul class="list">
        <% strips.forEach(strip => { %>
          <li class="list-item card fade-in scale-hover">
            <div>
              <strong>Лента <%= strip.code %></strong><br>
              Режим: <%= strip.mode %>, Статус: <%= strip.is_on == 1 ? 'Включена' : 'Выключена' %>
              <div class="user-settings mt-10">
                <a href="/led-control/<%= strip.code %>" class="btn btn-outline btn-sm">Настроить</a>
                <% if (strip.admin_user_id == user.id) { %>
                  <a href="/admin-panel" class="btn btn-outline btn-sm">Панель администратора</a>
                <% } %>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="gray-color">У вас пока нет добавленных лент.</p>
    <% } %>
  </div>

  <div class="card fade-in">
    <h3 class="card-title">Добавить ленту</h3>
    <form action="/add-led-strip" method="POST">
      <div class="form-group">
        <label for="code" class="form-label">Код ленты</label>
        <input type="text" name="code" id="code" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Добавить ленту</button>
    </form>
  </div>

  <div class="card fade-in">
    <h3 class="card-title">Мои настройки</h3>
    <form action="/update-user-dimensions" method="POST">
      <label>Ширина:</label>
      <input type="number" name="width" value="<%= user.width %>" required>
      <label>Высота:</label>
      <input type="number" name="height" value="<%= user.height %>" required>
      <button type="submit" class="btn btn-outline btn-sm">Сохранить</button>
    </form>
  </div>

</div>
